<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/photographProfile.css">
</head>
<body>
<div class="head">
    <h1>Вітаємо адмін</h1>
</div>
<div>
    <h2>Пошук фотографа</h2>
   <form action="/findPhotograph" >
       <input placeholder="Введіть імя юзера ">
       <input type="submit" value="шукати" >
    </form>
</div>
<div>
    <div>
        <button>Переглянути всі міста</button>
    </div>
    <div>
        <h2>Добавити місто</h2>
    </div>
</div>
</body>
</html>