<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../css/index_st.css">
    <meta charset="UTF-8">
    <title>SearchPhotograph</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

[[${thiss}]]
<div>// блок параметрів пошуку

    <div>// пошук за містом
        Виберіть місто:
        <div>
        <input list="city">
            <datalist id="city">
                

            </datalist>

        </div>

    </div>
    <div> // пошук за статтю

    </div>
    <div>// сортування за оцінкою або за реєстрацією(по замовчуванню)


    </div>




</div>




</body>
</html>