<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>


<button id="savePhotograph">photograph</button>
<button id="saveUser">user</button>



<form th:action="@{/}">

</form>


</body>
<script>
    $("savePhotograph").click(function () {
        let type = "P";
        $.ajax({
            url: '/login/Photograph',
            type: 'Get',
            // contentType:    що тут?
            data: JSON.stringify({type})
        })
        
    });
    $("saveUser").click(function () {
        let type = "U";
        $.ajax({
            url: '/login/Costumer',
            type: 'Get',
           // contentType:    що тут?
            data: JSON.stringify({type})

        })
    })

</script>
</html>