<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
    <div class="LeftSideMainPage">
        <button id="savePhotograph">photograph</button>
    </div>
    <div class="ReightSideMainPage">
        <button id="saveUser">user</button>
    </div>
</body>
<script>
    $("savePhotograph").click(function () {
        let type = "P";
        $.ajax({
            url: '/login',
            type: 'Get',
            contentType:'applications/json',
            data: JSON.stringify({type})
        })
        
    });
    $("saveUser").click(function () {
        let type = "U";
        $.ajax({
            url: '/login',
            type: 'Get',
            contentType: 'applications/json',
            data: JSON.stringify({type})

        })
    })

</script>
</html>