<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../css/index_st.css">
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>






<div id="left">
   <div > <button id="savePhotograph"  ><span>PHOTOGRAPHER</span></button></div>
</div>

<div id="right">
   <div> <button id="saveUser"><span>USER</span></button></div>
</div>


</body>
<script>
    $("savePhotograph").click(function () {
        let type = "P";
        $.ajax({
            url: '/login/Photograph',
            type: 'Get',
            // contentType:    що тут?
            data: JSON.stringify({type})
        })
        
    });
    $("saveUser").click(function () {
        let type = "U";
        $.ajax({
            url: '/login/Costumer',
            type: 'Get',
           // contentType:    що тут?
            data: JSON.stringify({type})

        })
    })

</script>
</html>