<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<form id="regOFphotograph" th:action="/savePhotographer" method="post">
    <div>
        <input type = "file" name = "profileImage" placeholder="додати фото">
    </div>
    <div>
        <input type="text" name="name" placeholder="ім'я">
    </div>
    <div>
        <input type="text" name="lastname" placeholder="прізвище">
    </div>
    <div>
        <select id="year"></select>
    </div>
    <div>
        <section>
            <option id="male">Male</option>
            <option id="female">Female</option>
            <option id="anyone">Anyone</option>
        </section>
    </div>
    <div>
        <input type="number" name="phone" placeholder="номер">
    </div>
    <div>
        <input type="text" name="description" placeholder="опис">
    </div>
    <div>
        <input type="number" name="price" placeholder="ціна за годину роботи">
    </div>
    <div>
        <input type="text" name=" hashtag" placeholder="хештег">
    </div>
</form>
</body>

<script>
    function sendSex() {

        var type = "Male";
            $("male").click(function () {
                let type = "P";
                $.ajax({
                    url: '/PhotographProfile',
                    type: 'Post',
                    contentType: 'applications/json',
                    data: JSON.stringify({type})
                })

            });
        var type = "Female";
        $("female").click(function () {
            let type = "Anyone";
            $.ajax({
                url: '/PhotographProfile',
                type: 'Post',
                contentType: 'applications/json',
                data: JSON.stringify({type})
            })
        })
        var type = "Anyone";
        $("anyone").click(function () {
            let type = "Anyone";
            $.ajax({
                url: '/PhotographProfile',
                type: 'Post',
                contentType: 'applications/json',
                data: JSON.stringify({type})

            })
        })

    }

    function getYear() {
        var start = 18;
        var end = 120;
        var options = "";
        for(var year = start ; year <=end; year++){
            options += "<option>"+ year +"</option>";
        }
        document.getElementById("year").innerHTML = options;
    }

    getYear();
    sendSex();
</script>
</html>