<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<form id="regOFphotograph" th:action="/savePhotographer" method="post">
    <div>
        <input type = "file" name = "profileImage" placeholder="додати аватарку ">
    </div>
    <div>
        <input type="text" name="namePhotograph" placeholder="ім'я">
    </div>
    <div>
        <input type="text" name="lastNamePhotograph" placeholder="прізвище">
    </div>
    <div>
        <select id="year" name ="age"></select>
    </div>
    <div>

        <select name="sex">
            <option id="male">Male</option>
            <option id="female">Female</option>
            <option id="anyone">Anyone</option>
        </select>
    </div>

    <div>
        <input type="number" name="number" placeholder="номер">
    </div>
    <div>
        <input type="City" name="city" placeholder="місто">
    </div>
    <div>
        <input type="text" name="mail" placeholder="пошта">
    </div>
    <div>
        <input type="text" name="faceBook" placeholder="фейсбук">
    </div>
    <div>
        <input type="text" name="Instagram" placeholder="інстаграм">
    </div>



    <div>
        <input type="text" name="describe" placeholder="опис">
    </div>
    <div>
        <input type="number" name="price" placeholder="ціна за годину роботи">
    </div>
    <div>
        <input type="text" name="hashTag" placeholder="хештег">
    </div>
    <div>
        <!--Gallary-->
        <input>
    </div>
    <button id="#btn">надіслати</button>>

</form>
</body>

<script>
    $.save("#btn").click(function (event){
        event.preventDefault();


            $.ajax({
                url: '/uploadPhotograph',
                type: 'Post',
                data: new FormData($("regOFphotograph")[0]),
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache:false,
                success: function () {
                    console.log('ok');
                },
                error: function (err) {
                    console.log(err);
                }
            });
    })





    function sendSex() {

        var type = "Male";
            $("male").click(function () {
                let type = "P";
                $.ajax({
                    url: '/PhotographProfile',
                    type: 'Post',
                    contentType: 'applications/json',
                    data: JSON.stringify({type})
                })

            });
        var type = "Female";
        $("female").click(function () {
            let type = "Anyone";
            $.ajax({
                url: '/PhotographProfile',
                type: 'Post',
                contentType: 'applications/json',
                data: JSON.stringify({type})
            })
        })
        var type = "Anyone";
        $("anyone").click(function () {
            let type = "Anyone";
            $.ajax({
                url: '/PhotographProfile',
                type: 'Post',
                contentType: 'applications/json',
                data: JSON.stringify({type})

            })
        })

    }

    function getYear() {
        var start = 18;
        var end = 120;
        var options = "";
        for(var year = start ; year <=end; year++){
            options += "<option>"+ year +"</option>";
        }
        document.getElementById("year").innerHTML = options;
    }

   // getYear();
  //  sendSex();
</script>
</html>